body{
  padding: 0;
  margin: 0;
  background: #f6f6f6; 
}

.nav-bar{
  position: fixed;
  position: sticky;
  top: 0; 
  width: 100%;
  padding: .6em;
  background: #fff;
  border: none;
  box-shadow: 0 0 5px #333;
  display: flex;
  align-items: center;
  
}
.fa:hover{
  color: hsl(254, 67%, 48%);
}


.logo{
  width: 100px;
  height: auto;
  margin: 5px;
}

.social-icons{
  position: absolute;
  right: 20px;

  
}
.social-icons > i{
  margin: 0 5px;
}


